/* Pretendard */
@font-face {
font-family:'Pretendard';
font-weight:200;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-ExtraLight.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Pretendard';
font-weight:300;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-Light.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Pretendard';
font-weight:400;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-Regular.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Pretendard';
font-weight:500;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-Medium.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Pretendard';
font-weight:600;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-SemiBold.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Pretendard';
font-weight:700;
font-style:normal;
src:local(''),
url('/css/font/Pretendard-Bold.woff2') format('woff2');
font-display:swap;
}
@font-face {
font-family:'Nohemi';
font-weight:200;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-ExtraLight.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
@font-face {
font-family:'Nohemi';
font-weight:300;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-Light.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
@font-face {
font-family:'Nohemi';
font-weight:400;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-Regular.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
@font-face {
font-family:'Nohemi';
font-weight:500;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-Medium.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
@font-face {
font-family:'Nohemi';
font-weight:600;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-SemiBold.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
@font-face {
font-family:'Nohemi';
font-weight:700;
font-style:normal;
src:local(''),
url('/css/font/Nohemi-Bold.woff2') format('woff2');
font-display:swap;
unicode-range:U+0020-007E;
}
